.css-2ulfj5-MuiTypography-root {
    padding: 10px;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    padding: 15px !important;
    width: 506px !important;
    border: 1px solid black !important;
}

.css-13pej9l-MuiButtonBase-root-MuiButton-root:hover {
    background-color: unset !important;
    border: 1px solid black !important;
}